@font-face {
	font-family: 'NimbusRoman'; /*a name to be used later*/
	src: url('/resources/fonts/NimbusRomNo9L-Reg.otf'); /*URL to font*/
}

input[name=login] {
	padding: 12px 8px;
	margin: 8px 8px 0 0;
	width: 45%;
	box-sizing: border-box;
}

input[name=password] {
	padding: 12px 8px;
	margin: 8px 8px 0 0;
	width: 45%;
	box-sizing: border-box;
}

input[name=search] {
	padding: 12px 8px;
	margin: 8px 0;
	width: 100%;
	box-sizing: border-box;
}

input[name=search]:focus {
	border: 2px solid #268bd2;
}

body {
	margin: 0;
	padding: 0;
	background: #eee8d5;
	height: 100%;
	color: #586e75;
	font-family: 'NimbusRoman';
}

h1 {
	margin: 0 0 10px 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	border: 1px solid #b58900;
	margin: 0 10px 0 0;
	float: left;
}

#page {
	margin: 0 auto;
	padding: 0;
	background: #fdf6e3;
	width: 1024px;
	min-height: 100%;
}

#menu {
	margin: 20px 5px 5px 5px;
	padding: 20px 10px;
	border-right: 1px dotted #b58900;
	width: 250px;
	position: absolute;
	min-height: 256px;
	display: inline-block;
}

#signin_fields {
	margin: 0;
	padding: 0 0 10px 0;
}

#message {
	margin: 0;
	padding: 10px 0 0 0;
}

#username {
	margin: 0;
	padding: 0 0 20px 0;
}

#taglist {
	margin: 0;
	padding: 20px 0 0 5px;
}

#button {
	padding: 0;
	margin: 0 auto;
	width: 100px;
}

#booklist {
//	outline: 2px solid red;
	margin: 20px 0 0 300px;
	padding: 0;
	display: inline-block;
}

#entry {
	margin: 10px 0;
	padding: 10px 10px 20px 10px;
	float: both;
	width: 600px;
	border-bottom: 1px dashed #b58900;
}

#taglink {
	color: #2aa198;
}

#tags {
	margin: 10px 0 0 0;
	padding: 0;
	text-align: right;
}

#book {
//	outline: 2px solid green;
//	background: #fdf6e3;
	margin: 0;
	padding: 0;
}

#text {
//	outline: 2px solid blue;
//	background: #ff0000;
	margin: 0 0 0 90px;
	padding: 0;
	line-height: 15pt;
}
